*.aux
SBE.blg
SBE.glo
SBE.idx
SBE.ilg
SBE.log
SBE.out
SBE.pdf
SBE_*.pdf
SBE.toc
SBE.url
*.bbl
*.ind
*.changes
*.image
ListingSources/
warnings.txt
bin/gdrive
**/figures/*.png
*.log
*.fls
*.fdb_latexmk

# Editors
.vscode/
SqueakDebug.log
