*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
SBE*.pdf
*.synctex*
*.toc
*.url

ListingSources/
warnings.txt
bin/gdrive
**/figures/*.png

# Squeak
*.changes
*.image
SqueakDebug.log

# Editors
.vscode/
