*.aux
*.log
*.out
SBE*.blg
SBE*.glo
SBE*.idx
SBE*.ilg
SBE*.ind
SBE*.pdf
SBE*.synctex*
SBE*.toc
SBE*.url
*.bbl
*.changes
*.image
ListingSources/
warnings.txt
bin/gdrive
**/figures/*.png
*.fls
*.fdb_latexmk

# Editors
.vscode/
SqueakDebug.log
