backup
*/*.aux
*/*.log
*/*.out
*/*.pdf
*/_*
*.bst
/auto/
scg13.bib
LatexTemplates/msc-thesis/thesis.aux
LatexTemplates/msc-thesis/thesis.log
LatexTemplates/msc-thesis/thesis.out
LatexTemplates/msc-thesis/thesis.pdf
LatexTemplates/msc-thesis/thesis.synctex.gz
LatexTemplates/msc-thesis/thesis.toc
LatexTemplates/bsc-thesis/thesis.aux
LatexTemplates/bsc-thesis/thesis.log
LatexTemplates/bsc-thesis/thesis.out
LatexTemplates/bsc-thesis/thesis.pdf
LatexTemplates/bsc-thesis/thesis.synctex.gz
LatexTemplates/bsc-thesis/thesis.toc
LatexTemplates/bsc-thesis/preamble.log
.DS_Store
LatexTemplates/scgPaper.synctex.gz
LatexTemplates/scgTR.synctex.gz
LatexTemplates/scg-llncs.synctex.gz
BORIS-Backlog.zip
BORIS-scg2016-new.bib
b16
LatexTemplates/st80.fdb_latexmk
LatexTemplates/st80.fls
LatexTemplates/st80demo.fdb_latexmk
LatexTemplates/st80demo.fls
LatexTemplates/st80demo.synctex.gz
t-all
t-free
t-none
t-old
t-scg0N
t-scg1N
t-sub
t-wp
t-bp
t-msc
t-*
b17
